body{
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;
    padding-top: 20px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 80%;
    height: 60%;
}

.image img{
    width: 100%;
    height: 100%;
} 

.card button{
    background-color: aquamarine;
}